.hero {
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-bottom: 1em;
    color: white;
    margin-top: 0px;
}

.hero-text {
    text-align: center;
    padding: 2em;
}

.hero .hero-text h1 {
    margin: 0px;
    padding: 0em;
    font-size: 4em;
}

.hero .hero-text h2 {
    font-size: 2.5em;
    padding: 0em;
    margin-top: 0.25em;
    margin-bottom: 2em;
}

.hero .hero-text a {
    text-decoration: none;
}

.hero .hero-text h1, .hero .hero-text h2{
    text-shadow: 
        0px 0px 12px black,
        0px 0px 12px black
}

.hero .hero-text .contactButton{
    box-shadow: 0px 0px 20px black,
        0px 0px 14px black,
        0px 0px 16px black;
}

.hero .hero-text .contactButton{
    box-shadow: 0px 0px 12px 2px black;
}
.hero .hero-text .contactButton:hover{
    box-shadow: 
        0px 0px 12px 2px black,
        0px 0px 12px 2px white;
}

@media only screen and (max-width: 1024px) {
    .hero .hero-text h1{
        font-size: 2.5em;
    }
    
    .hero .hero-text h2{
        font-size: 1.5em;
    }
    .hero .hero-text h1, .hero .hero-text h2{
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 450px) {
    #contact-button{
        display: none;
    }
}