#root {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  z-index: 2;
  border: 1px;
  border-color: #000000;
}

body {
  margin: 0px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: linear-gradient(#ca7906, #714200);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  color: #000000;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
}

.footer {
  text-align: center;
  color: white;
}

.darkTextDarkBG {
  background-color: #d2d2d2;
  text-align: center;
  padding: 8px 0;
}

#content-div {
  display: block;
  margin: 0px auto;
  width: 80%;
  max-width: 1200px;
  background-color: #ffffff;
  border-radius: 15px;
  -moz-border-radius: 15px;
  padding-bottom: 15px;
}

#contact-div {
  float: right;
  padding-right: 15px;
  padding-top: 15px;
  text-align: right;
}

#contact-div a {
  display: block;
}

.phone-number-img {
  height: 30px;
}

h3 {
  color: #3d3d3d;
}

.photoTable {
  width: 100%;
}

.photoTable tr td {
  width: 50%;
}

.photoTable tr td img {
  width: 100%;
}

.photoTable tr td p {
  text-align: center !important;
}

#logo {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 5px;
  width: 201px;
}

#main,
.below-the-fold {
  font-size: 1.2em;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

.grayBGSection {
  background-image: linear-gradient(#eeeeee, #fbfbfb);
}

#main > p {
  padding: 0 100px;
}

.last-section {
  margin-bottom: 60px;
}

a:link,
a:visited {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #ca7906;
  text-decoration: none;
}

#main a:link,
#main a:visited {
  color: #2d6086;
  text-decoration: none;
}

#main a:hover {
  color: #1f3750;
}

.flex-wrapper {
  padding: 15px;
}

.flex {
  display: flex;
}

.flex-wrapper img {
  max-width: 100%;
}

.left-or-top img,
.right-or-bottom img {
  max-width: 100%;
  min-height: 100%;
}

.left-or-top {
  flex: 0 0 50%;
}

.right-or-bottom {
  flex: 1;
  margin-left: 15px;
}

#contact-btn input {
  width: 100%;
  margin-bottom: 15px;
}

#contact-img img {
  width: 100%;
}

#logo-img {
  width: 100%;
}

#logo-div {
  display: none;
}

.displayed {
  display: block;
}
.not-displayed {
  display: none;
}

.mobile-button {
  background-color: #ca7906;
  padding: 10px;
  color: white;
  text-shadow: 1px 1px black;
  border: none;
  font-size: 1.5em;
}

.mobile-button img {
  width: 24px;
}

.square {
  border-radius: 8px;
}

#review-links {
  list-style-type: none;
  padding: 0;
}

#review-links li a {
  text-decoration: none;
}

.link-wrapper {
  display: flex;
  align-items: center;
  background-color: #d2d2d2;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.link-wrapper:hover {
  background-color: #fbc983;
  box-shadow: 5px 5px 10px black;
}

.link-wrapper .link-img-wrapper {
  flex: 0 1 50px;
  padding-right: 5px;
  border-right: 1px solid slategrey;
}

.link-wrapper .link-img-wrapper img {
  width: 50px;
  height: 50px;
}

.link-wrapper .link-name-wrapper {
  flex: 1;
  text-align: center;
}

.link-wrapper .link-name-wrapper p {
  margin: 0;
  text-decoration: none;
  color: white;
  text-shadow: 3px 3px 5px slategrey;
  font-size: 1.5em;
}

.section-header,
.section-subtitle {
  color: #ca7906;
  font-weight: bold;
  margin: 0 0 10px;
}

.section-header {
  font-size: 2.5em;
}

.section-subtitle {
  font-size: 1.8em;
}

.review {
  background-color: #e9e9e9;
  padding: 10px 50px;
  font-style: italic;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  color: black;
}

.review:hover {
  box-shadow: 5px 5px 10px black;
  background-color: #fbc983;
  border: 1px solid darkgray;
  padding: 9px 49px;
}

.review .review-text {
  font-weight: normal;
}

.review .reviewer {
  font-weight: bold;
  text-align: left;
  margin-left: 25px;
}

.review .review-source {
  display: inline-flex;
  align-items: center;
}

.review .review-source p {
  font-size: 0.75em;
  margin-right: 8px;
}

.review .review-source img {
  width: 25px;
  height: 25px;
}

.space {
  border: 1px solid #e9e9e9;
  margin: 75px 25px;
}

.image-button {
  background-size: cover;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
  text-shadow: 0px 0px 8px black, 0px 0px 8px black, 0px 0px 4px white;
}

.image-button div {
  padding: 100px 50px;
}

.image-button div h2,
.image-button div h3 {
  color: white;
  margin: 0;
}

.image-button:hover {
  text-shadow: 0px 0px 4px black, 0px 0px 8px white, 0px 0px 8px white;
  box-shadow: 5px 5px 10px black;
}

#form-wrapper {
  padding: 10px 150px;
  border-radius: 10px;
  background-color: #e9e9e9;
}

#contact-form textarea {
  resize: none;
}

#contact-form input,
#contact-form textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid darkgray;
  display: block;
  width: 100%;
  margin: 0 auto 10px;
  font-size: 1.2em;
}

#contact-form #submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-shadow: 2px 2px 5px darkgray;
  background-image: linear-gradient(
    /* chrome */ hsla(0, 0%, 100%, 0.6),
    hsla(0, 0%, 100%, 0) 50%,
    hsla(0, 0%, 0%, 0.2) 50%,
    hsla(0, 0%, 100%, 0.2)
  );
  text-shadow: 0 0 15px hsla(0, 0%, 100%, 1), 0 2px 4px hsla(0, 0%, 0%, 0.7);
  box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.2);
  font: normal small-caps bold 1.5em Arial Black;
}

#contact-form #submit-btn::before {
  background: linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0));
}

#contact-form #submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-shadow: 2px 2px 5px darkgray;
  background-image: linear-gradient(
    /* chrome */ hsla(0, 0%, 100%, 0.6),
    hsla(0, 0%, 100%, 0) 50%,
    hsla(0, 0%, 0%, 0.2) 50%,
    hsla(0, 0%, 100%, 0.2)
  );
  text-shadow: 0 0 15px hsla(0, 0%, 100%, 1), 0 2px 4px hsla(0, 0%, 0%, 0.7);
  box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.2);
  font: normal small-caps bold 1.5em Arial Black;
}

#contact-form #submit-btn::before {
  background: linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0));
}

.footer {
  margin: 15px 20px 5px;
  padding: 0px;
}

.socials {
  display: column;
  margin-top: 1em;
}

.socials .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.socials .icons img {
  width: 90%;
  max-width: 5em;
}

.socials .icons img:hover {
  opacity: 0.5;
}

.attribution {
  opacity: 0.1;
  font-size: 0.5rem;
}

.contactButton {
  font-family: Verdana, Geneva, sans-serif;
  padding: 10px 25px;
  display: inline;
  min-height: 60px;
  cursor: pointer;
  text-align: center;
  background-image: linear-gradient(
    /* chrome */ hsla(0, 0%, 100%, 0.6),
    hsla(0, 0%, 100%, 0) 50%,
    hsla(0, 0%, 0%, 0.2) 50%,
    hsla(0, 0%, 100%, 0.2)
  );
  border-radius: 35px;
  color: white;
  font: normal small-caps bold 28px Arial Black;
  text-shadow: 0 0 15px hsla(0, 0%, 100%, 1), 0 2px 4px hsla(0, 0%, 0%, 0.7);
  box-shadow: inset 0 -5px 20px hsla(0, 0%, 0%, 0.4),
    inset 0 5px 20px hsla(0, 0%, 100%, 0.4), -8px 8px 5px hsla(0, 0%, 0%, 0.15),
    5px 18px 10px hsla(0, 0%, 0%, 0.2);
}

.contactButton::before {
  background: linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0));
}

.orange {
  background-color: #ff9500;
}

.orange:hover {
  background-color: #ffaf3f;
}

.image-grid {
  display: grid;
  gap: 16px;
  padding: 16px;
}

.remodeling-type-button, .photo-grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  z-index: 1;
  cursor: pointer;
}

.remodeling-type-button:hover, .photo-grid-item:hover {
  box-shadow: 5px 5px 10px black;
  opacity: 0.9;
}

.remodeling-type-button:hover {
  text-shadow: 0px 0px 4px black, 0px 0px 8px white, 0px 0px 8px white;
}

.remodeling-type-button img, .photo-grid-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.photo-grid-item h1, .remodeling-type-button h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  font-size: 3em;
}

/* homepage grid item */
.remodeling-type-button {
  aspect-ratio: 16 / 9;
  text-shadow: 0px 0px 8px black, 0px 0px 8px black, 0px 0px 4px white;
}

/* photo section grid item */
.photo-grid-item {
  max-height: 400px;
}

.photo-grid-item h1 {
  color: rgba(255, 255, 255, 0.494);
}

.remodeling-type-button h1 {
  color: white;
}

@media (min-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .image-grid {
    grid-template-columns: 1fr;
  }
}

.svg-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0em;
}

.svg-item {
  width: 100%;
  background-color: white;
}

@media (max-width: 768px) {
  .svg-grid {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
  }
}

.hList {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 800px;
}

.hList li {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #333;
  font-weight: bold;
  white-space: nowrap;
}

.hList li:not(:last-child)::after {
  content: "◆";
  color: #555;
  font-size: 0.8rem;
  margin-left: 8px;
}

.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
