.displayed {
    display: block;
}
.not-displayed{
    display: none;
}

@media only screen and (min-width: 1025px) {
    #mobile-nav{
        display: none;
    }

    #mobile-menu{
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    #mobile-nav{
        position: relative;
        background-color: #ca7906;
        height: 25px;
    }

    #mobile-nav #hamburger, #mobile-menu div #clear{
        display: inline-block;
        margin:4px;
        padding: 10px;
        background-color: lightgrey;
        border-radius: 100%;
        border: 1px solid darkgray;
        box-shadow: 0px 0px 3px 1px black;
    }
    #mobile-nav #hamburger{
        position: absolute;
        top: -15px;
        margin-left: 8px;
    }
    #mobile-menu{
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        height: 100%;
        width: 100%;
    }
    #mobile-menu #mobile-logo{
        width: 50%;
        margin-top: 20px;
    }
    #mobile-menu ul{
        padding-inline-start: 0;
    }

    #mobile-menu ul li{
        list-style-type: none;
        padding: 20px 0px;
        border-bottom: 1px solid #e9e9e9;
    }

    #mobile-menu ul .first{
        padding-top: 20px;
        border-top: 1px solid #e9e9e9;
    }

    #mobile-menu ul .last{
        padding-top: 20px;
        border-top: 1px solid #e9e9e9;
    }

    #mobile-menu ul a{
        text-decoration: none;
        color: black;
    }

    #mobile-menu ul .last{
        font-weight: bold;
        color: #ca7906;
    }

    .displayed {
        display: block;
    }
    .not-displayed{
        display: none;
    }
}

@media only screen and (max-width: 320px) {
    #mobile-menu ul li{
        list-style-type: none;
        padding: 10px 0px;
        border-bottom: 1px solid #e9e9e9;
    }

    #mobile-menu ul .first{
        padding-top: 10px;
        border-top: 1px solid #e9e9e9;
    }

    #mobile-menu ul .last{
        padding-top: 10px;
        border-top: 1px solid #e9e9e9;
    }
}