@media only screen and (max-width: 1470px) {
  .contactButton {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1024px) {
  .contactButton {
    font-size: 28px;
  }

  #root {
    margin-top: 0px;
  }
  #contact-div {
    display: none;
  }

  #content-div {
    width: 100%;
    border-radius: 0;
    -moz-border-radius: 0;
  }
  #contact-div {
    float: none;
    text-align: center;
    padding-right: 0px;
    padding-top: 0px;
  }
  #contact-div a {
    margin-bottom: 5px;
  }
  #logo {
    padding: 15px 0 5px 0;
    margin: 0 auto;
    display: block;
  }
  .flex-wrapper {
    padding: 5px 0px 0px;
  }
  .flex {
    display: block;
  }
  .flex .left-or-top,
  .flex .right-or-bottom {
    display: block;
  }

  #contact-img {
    display: none;
  }
  #contact-btn input {
    width: 100%;
    margin: 0;
  }
  .darkTextDarkBG {
    display: none;
  }
  .right-or-bottom {
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
    padding-bottom: 15px;
  }

  #main {
    border-radius: 0px;
    -moz-border-radius: 0px;
    padding-top: 0;
  }

  #main > p {
    padding: 0 15px;
  }

  li {
    font-size: 1.5em;
    padding: 5px 0;
  }
  #form-wrapper {
    padding: 10px;
  }
  .footer {
    font-size: 0.75em;
    margin: 15px 20px 5px;
    padding: 0px;
  }
}

@media only screen and (max-width: 718px) {
  #logo-img {
    display: none;
  }

  #logo-div {
    display: block;
    width: 100%;
    min-height: 200px;
    background-size: cover;
  }

  .link-wrapper .link-img-wrapper img {
    width: 35px;
    height: 35px;
  }
  .link-wrapper .link-name-wrapper p {
    font-size: 1.25em;
  }

  .section-header {
    font-size: 1.4em;
    margin: 10px 0;
  }

  .section-subtitle {
    font-size: 1em;
    margin: 10px 0;
  }

  h3 {
    font-size: 1em;
  }

  .space {
    margin: 35px 10px;
  }

  .last-section {
    margin-bottom: 0;
  }

  .below-the-fold {
    margin-top: 0px;
  }

  #contact-form input,
  #contact-form textarea {
    padding: 20px;
    font-size: 1.5em;
    width: 85%;
  }

  #contact-form #submit-btn {
    width: 85%;
    margin-bottom: 10px;
  }

  .not-on-mobile {
    display: none;
  }

  .footer {
    font-size: 0.85em;
    padding: 0px 25px;
  }
}

@media only screen and (max-width: 375px) {
  .link-wrapper .link-name-wrapper p {
    font-size: 1em;
  }
  .phone-number-img {
    height: 22px;
  }
}
