html{
    height: 100%;
}

*{
    margin: 0;
}

.page-wrapper{
    width: 80%;
    position: relative;
    top: 10px;
    margin: 0 auto;
}

.content{
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    padding: 15px
}

.head{
    display: flex;
}

.head .logo{
    display: block;
    width: 20%
}

.head .nav{
    display: block;
    width: 80%;
}

.logo img{
    width: 100%;
}

.nav-bar{
    padding: 10px;
    color: #d8ad70;
    text-align: center;
    font-size: 1.5em;
} 

.nav-bar div{
    cursor: pointer;
    padding: 15px 15px 30px;
    display: inline;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.nav-bar .last{
    padding-right: 0px;
}

.nav-bar .selected{
    color: ca7906;
    background-color: black;
}

.nav-bar .selected a{
    font-weight: bold;
}

.phone{
    text-align: right;
    margin-right: 15px;
    height: 83%;
}

.main{
    width: 100%;
    border-top: 5px solid black;
    display: inline-block;
    z-index: 200;
    background-color: white;
    margin-top: 10px;
}

.hero{
    width: 100%;
    background-size: cover;
}

.hero .hero-text{
    text-align: center;
    color: white;
}

.hero .hero-text h1, .hero .hero-text h2{
    margin-bottom: 20px;
    text-shadow: 3px 3px 5px black;
}

.hero .hero-text h1{
    padding-top: 50px;
    font-size: 4em;
}

.hero .hero-text h2{
    font-size: 2.5em;
}

.hero-text .contactButton{
    width: 220px;
    height: 80px;
    font-size: 1.5em;
}

.hero-text .contact-button{
    background-color: transparent;
    width: 250px;
    height: 75px;
    border: 8px solid white;
    box-shadow: 3px 3px 5px black;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
    outline: none;
    margin-bottom: 50px;
}

.hero-text .contact-button:hover{
    border: 8px solid rgb(253, 172, 58);
    color: rgb(253, 172, 58);;
}
